@font-face {
    font-family: 'minecraft';
    font-style: normal;
    font-weight: normal;
    src: url('./fuente/minecraft_font.ttf') format('truetype');
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./imagenes/minecraft.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#titulo{
    background-color: #77dd77;
    text-align: center;
    width: 100vw;
    height: 50px;
    font-family: 'minecraft';

}

#navegacion{
background-color:#84b6f4;
display:flex ;
list-style: none;
text-align: center;
}
.item{
width:calc(100vw /5);
padding: 0.5rem;
border-right: 2px solid white;
font-family: sans-serif;

}
a{
    text-decoration: none;
    color: black;
}

.sub{
    text-align: center;
    color: white;
}

.contenido{
    background-color: rgba(253, 253, 150, 0.55);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: flex-end;
    grid-template-columns: ;
    /*gap: 1rem;*/
}

.imagen{
    height: 16vw;
    width: 16vw;
    
}

.texto{
    width:calc(80vw - 10vw) ;
    border: 2px solid;
    border-left: none;
    font-size: larger;
}